Exploratory Data Analysis.ipynb
Evaluation.ipynb
IAKR7EFL_1.csv
Model.ipynb
pre_process.ipynb
preprocessing.ipynb
stunting_model_2.joblib
stunting_model.pth
test.csv
underweight_model.pth
wasting_model.pth